html {
  font-family: Helvetica;
}

body,
ul {
  margin: 0;
  padding: 0;
}

.p1 {
  padding: 10px;
}

.p1-l {
  padding: 20px;
}

.sjnav,
.sjnav-v {
  margin: 0px;
  padding: 0px;
  width: 100%;
  vertical-align: middle;
  background-color: rgb(238, 238, 238);
}

.sjnav {
  height: 60px;
}

.sjnav-v {
  height: auto;
}

.sjnav li {
  line-height: 60px;
  text-align: center;
  width: 100px;
  display: block;
  list-style: none;
  float: left;
  font-size: 18px;
}

.sjnav-v li {
  width: 100%;
  line-height: 60px;
  display: block;
  font-size: 18px;
  padding-left: 20px;
}

.sjnav li a,
.sjnav-v li a {
  color: black;
  text-decoration: none;
}

.sjnav li.active,
.sjnav li:hover,
.sjnav-v li.active,
.sjnav-v li:hover {
  background: darkcyan;
}

.sjnav li.active a,
.sjnav li:hover a,
.sjnav-v li.active a,
.sjnav-v li:hover a {
  color: white;
}

.bg1 {
  max-width: 800px;
  height: fit-content;
  background: #1e2329;
}

.time-o {
  width: fit-content;
  background: #f2953c;
  padding: 10px;
  color: white;
  font-weight: bold;
}

.sjh1 {
  color: white;
  font-size: 45px;
  margin: 20px 0 40px 0;
}

.imp {
  color: #f2953c;
  text-decoration: underline;
}

.sjp {
  color: #858c90;
  margin-bottom: 20px;
}
.sjcon {
  position: relative;
  text-align: center;
  max-width: 800px;
}

.conhead {
  width: 100%;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-shadow: 5px 2px 5px black;
  position: absolute;
  top: 40%;
}

.consub {
  width: 100%;
  text-align: center;
  font-size: 25px;
  color: white;
  text-shadow: 5px 2px 5px black;
  position: absolute;
  bottom: 40%;
}

.conhead div,
.consub div {
  padding: 0px 20px 0px 20px;
}

.sjform {
  width: 100%;
}

form {
  padding: 15px;
}

input[type="text"],
select,
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 10px;
}

input[type="submit"] {
  border-radius: 5px;
  width: auto;
  padding: 10px 30px 10px 30px;
  color: white;
  background-color: green;
}
